<template>
  <div class="py-20 h-screen bg-blue-400 px-2">
    <div class="max-w-md mx-auto bg-white rounded-lg overflow-hidden md:max-w-lg">
        <div class="md:flex">
            <div class="w-full">
                <div class="p-4 border-b-2"> <span class="text-lg font-bold text-gray-600">ส่ง sms </span> </div>
                <div class="p-3">
                    <div class="mb-2">
                        <div class="z-40 relative h-40 rounded-lg border-dashed border-2 border-gray-200 bg-white flex justify-center items-center">
                            <div class="absolute">
                                <div class="flex flex-col items-center "> <i class="fa fa-cloud-upload fa-3x text-gray-200"></i><span class="block text-blue-400 font-normal">{{filename}}</span> </div>
                            </div> <input type="file" class="h-full w-full opacity-0 cursor-pointer" name="" @change="upload">
                        </div>
                        <div class="flex justify-between items-center text-gray-400"> 
                          <span>ข้อความ</span>
                        </div>
                        <textarea rows="3" class="h-auto px-3 w-full border-gray-200 border rounded focus:outline-none focus:border-gray-300" v-model="text"></textarea>
                    </div>
                    <div class="mt-3 text-center pb-3"> <button class="h-12 text-lg w-32 bg-blue-600 rounded text-white hover:bg-blue-700" @click="send">ส่ง</button> </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
var convert = require('xml-js');
var https = require('https')
import FormData from 'form-data'
export default {
  name: 'IndexPage',
  data () {
    return {
      text: '',
      file: '',
      filename: 'เลือกไฟล์',
      container: {
        "_declaration": {
          "_attributes": {
            "version": "1.0",
            "encoding": "utf-8"
          }
        },
        SendRequest : {
          Request : {
            LoginId : ''
          },
          SendMessage : {
            To : '',
            MessageTemplate : 'Test'
          }
        }
      },
      loginContainer : {
        "_declaration": {
          "_attributes": {
            "version": "1.0",
            "encoding": "utf-8"
          }
        },
        LoginRequest : {
          UserName : 'admin',
          Password : '1qa2ws3ed',
          RememberMe : 1,
        },
      },
      LoginId : ''
    }
  },
  async mounted () {
    var options = {compact: true, ignoreComment: true, spaces: 4};
    const result = convert.json2xml(this.loginContainer,options)
    console.log(result);
    let res = await this.$axios.post('http://desktop-hnidk9o:9710/xml/login',result,{
      headers: {
        'Content-Type' : 'application/x-www-form-urlencoded',
        'X-Requested-With': 'XMLHttpRequest',
      }
    }).then(res => res.data)
    res = convert.xml2js(res,{compact: true, spaces: 4})
    console.log(res);
    this.LoginId = res.Response.LoginId._text
    console.log(this.LoginId);
  },
  methods : {
    upload(e) {
      if(e.target.files.length!=0&&e.target.files[0].name.includes('.txt')) {
        this.file = e.target.files[0]
        this.filename = e.target.files[0].name
        console.log(this.file);
      }
    },
    async send() {
      this.container.SendRequest.Request.LoginId = this.LoginId
      this.container.SendRequest.SendMessage.MessageTemplate = this.text
      if(this.file) {
        const reader = new FileReader();
        reader.readAsText(this.file)
        reader.onload = async (txt) => {
          const res = txt.target.result.split(/[\r\n]+/g)
          for (const item of res) {
            const line = item.split(',')[0]
            this.container.SendRequest.SendMessage.To += this.container.SendRequest.SendMessage.To ? ','+line : line
          }
          var options = {compact: true, ignoreComment: true, spaces: 4};
          const result = convert.json2xml(this.container,options)
          let resp = await this.$axios.post('http://desktop-hnidk9o:9710/xml/send-messages',result,{
            headers: {
              'Content-Type' : 'application/x-www-form-urlencoded',
              'X-Requested-With': 'XMLHttpRequest',
            }
          }).then(res => res.data)
          console.log(result);
          console.log(resp);
        }
      }
    }
  }
  
}
</script>

